<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mrnuritionist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ExerciseActivity"></activity>
        <activity android:name=".Activity3"/>
        <activity android:name=".Activity4"/>
        <activity android:name=".Activity5"/>
        <activity android:name=".FoodRecipeActivity" />
        <activity android:name=".ReminderActivity" />
        <activity android:name=".StopWatchActivity" />
        <activity android:name=".BrowserActivity" />
        <activity android:name=".BodyCalorieCalculatorActivity" />
        <activity android:name=".BmiActivity" />
        <activity android:name=".post_item" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SetupActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" >


        </activity>

        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>